.wordleTable {
    width: 500px;
    margin: auto;
    background-color: dodgerblue;
}

.keyboard {
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.padding-big {
    padding: 40px 20px;
}