.wordleTable {
    width: 440px;
    margin: auto;
    background-color: dodgerblue;
}

.keyboard {
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 520px;
    margin: auto;
}

.padding-big {
    padding: 40px 20px;
}

.letterBox {
    min-width: 60px;
    min-height: 40px;
    margin: auto 10px;
    min-height: 45px;
}

.rowBox {
    padding: 10px 0;
}